{% extends 'base.html' %}
{% block content %}
  <h2>Edit Hotspot</h2>

  <form method="POST">
    {{ form.hidden_tag() }}

    <div>
      {{ form.crime_type.label }}<br>
      {{ form.crime_type() }}
    </div>

    <div>
      {{ form.location.label }}<br>
      {{ form.location() }}
    </div>

    <div>
      {{ form.danger_time.label }}<br>
      {{ form.danger_time() }}
    </div>

    <div>
      {{ form.notes.label }}<br>
      {{ form.notes(rows=3) }}
    </div>

    <div>
      {{ form.lat.label }}<br>
      {{ form.lat() }}
    </div>

    <div>
      {{ form.lng.label }}<br>
      {{ form.lng() }}
    </div>

    <button type="submit">Update</button>
  </form>
{% endblock %}
