.env
app/crime_parser/*.xlsx
__pycache__
/test_predictor.py
/train_model_script.py
/app/prediction_model/model/
/app/prediction_model/encoders/ 
/app/prediction_model/
app/legal_assistant/sample_data.json
app/crime_parser/parse_crime_data.py
__pycache__/
*.pyc
