<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CrimeSense{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
    <a href="{{ url_for('reports.list_admin_reports') }}">Admin Reports</a>
    <a href="{{ url_for('reports.list_user_reports') }}">Mobile User Reports</a>
    <a href="{{ url_for('reports.create_report') }}">Create Report</a>
    </nav>
 
    
  {% block content %}
  <!-- Page-specific content will appear here -->
  {% endblock %}

    <footer>
        <p>&copy; 2025 CrimeSense</p>
    </footer>

</body>
</html>
