<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}CrimeSense{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <nav>
        <a href="{{ url_for('reports.list_reports') }}">All Reports</a>
        <a href="{{ url_for('reports.create_report') }}">Create Report</a>
    </nav>


    <div class="container">
        {% block content %}
        

    <h2>Crime Reports Management</h2>

    <ul>
        <li><a href="{{ url_for('reports.list_reports') }}">View All Reports</a></li>
        <li><a href="{{ url_for('reports.create_report') }}">Create New Report</a></li>
    </ul>

        
        {% endblock %}
    </div>

    <footer>
        <p>&copy; 2025 CrimeSense</p>
    </footer>

</body>
</html>
