<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
       {% if user_id %}
    <h1>Welcome to the Dashboard!</h1>
    <p>Your User ID: {{ user_id }}</p>

    {% if user_is_admin %}
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Create a New Account</a>
    {% else %}
        <p>You do not have permission to register new users.</p>
    {% endif %}
{% else %}
    <p>You are not logged in. Please <a href="{{ url_for('auth.login') }}">log in</a>.</p>
{% endif %}

    </div>
</body>
</html>
