<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
      <div class="container">

        <h1>Welcome, {{ first_name }} {{ last_name }}!</h1>

        <h2>Create a New Account</h2>
        <p>Click below to register a new user:</p>
        <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register New Account</a>
    
   <form action="{{ url_for('auth.logout') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <button type="submit" class="btn btn-danger">Logout</button>
    </form>

    <nav>
        <a href="{{ url_for('reports.list_admin_reports') }}">Admin Reports</a>
        <a href="{{ url_for('reports.list_user_reports') }}">Mobile Reports</a>
        <a href="{{ url_for('reports.create_report') }}">Manage Crime Reports</a>
    </nav>



    </div>
</body>
</html>