<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap-icons.css') }}">
  <title>Simple auth</title>
</head>
<body>
  {% with messages = get_flashed_messages(with_categories=true) %}
      {% for category, message in messages %}
      
  <p>Create new account <a href="{{ url_for('auth.register') }}">register</a></p>
        <p style="color: red;">
           <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
           {{ message }}</p>
           </div>
   
      {% endfor %}
    {% endwith %}

    {% block content %}{% endblock %}

  <p>Create new account <a href="{{ url_for('auth.register') }}">register</a></p>

    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>
