<!doctype html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', 
  filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}">
  <link rel="stylesheet"
   href="{{ url_for('static', 
   filename='css/bootstrap-icons.css') }}">
  <title>Login</title>
</head>
<body class="login">

  <div class="container d-flex justify-content-center">
    <div class="row">
      <!--div class="col-lg-6">
        <img src="../static/images/background/blueimgbg.png" class="mt-2 w-75 h-100">
      </div-->
      <div class="col-lg-6">
        <div class="card mt-2">
          <div class="login-card">
          <div class="card-body">
            <h3 class="card-text">LOGINmmm</h3>
<form method="POST">
    {{ form.hidden_tag() }}  <!-- CSRF Token -->
    
    <div class="form-floating mb-3 mt-3">
        {{ form.email(class="form-control", id="email", placeholder="Enter email") }}
        <label for="email">Email</label>
    </div>

    <div class="form-floating mt-3 mb-3">
        {{ form.password(class="form-control", id="password", placeholder="Enter password") }}
        <label for="password">Password</label>
    </div>

    <button class="btn btn-primary" type="submit">Login</button>
</form>

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
</body>
</html>

